<div id="about" class="tab-pane fade show active _tabcontent _active" role="tabpanel" aria-labelledby="about-tab">
    <!-- About Me -->
    {% include 'about/about_me/about_me.html.twig' %}
    <!-- What -->
    <h2 class="title title--h2 mt-3">What I'm Doing</h2>
    <div class="row">
        <!-- Case Item -->
        <div class="col-12 col-lg-6">
            <div class="case-item box box-inner">
                <img class="case-item__icon" src="{{ asset('assets/icons/icon-design.svg') }}" alt="" />
                <div>
                    <h3 class="title title--h3">Web Design</h3>
                    <p class="case-item__caption">The most modern and high-quality design made at a professional level.</p>
                </div>
            </div>
        </div>

        <!-- Case Item -->
        <div class="col-12 col-lg-6">
            <div class="case-item box box-inner">
                <img class="case-item__icon" src="{{ asset('assets/icons/icon-dev.svg') }}" alt="" />
                <div>
                    <h3 class="title title--h3">Web Development</h3>
                    <p class="case-item__caption">High-quality development of sites at the professional level.</p>
                </div>
            </div>
        </div>

        <!-- Case Item -->
        <div class="col-12 col-lg-6">
            <div class="case-item box box-inner">
                <img class="case-item__icon" src="{{ asset('assets/icons/icon-app.svg') }}" alt="" />
                <div>
                    <h3 class="title title--h3">Mobile Apps</h3>
                    <p class="case-item__caption">Professional development of applications for iOS and Android.</p>
                </div>
            </div>
        </div>

        <!-- Case Item -->
        <div class="col-12 col-lg-6">
            <div class="case-item box box-inner">
                <img class="case-item__icon" src="{{ asset('assets/icons/icon-photo.svg') }}" alt="" />
                <div>
                    <h3 class="title title--h3">Photography</h3>
                    <p class="case-item__caption">I make high-quality photos of any category at a professional level.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Recommendations -->
    <div class="recommendations">
        <div class="d-flex justify-content-between align-items-center mt-3 mb-2">
            <h2 class="title title--h2 mb-0">Recommandations</h2>
            {% if is_granted('ROLE_ADMIN') %}
                <button type="button" class="btn btn-sm btn-secondary js-open-crud-modal" data-url="{{ path('recommendation_edit_all') }}">
                    <i class="feathericon-edit"></i> {{ 'global.edit'|trans }}
                </button>
            {% endif %}
        </div>

        <div class="swiper-container js-carousel-review">
            <div class="swiper-wrapper">
                {% for recommendation in recommendations %}
                    <!-- Item review -->
                    <div class="swiper-slide review-item box box-inner js-open-review" data-mfp-src="#review-{{ recommendation.id }}" data-effect="mfp-zoom-out">
                        <figure class="box box-avatar overflow-hidden">
                            {% if recommendation.imageUrl %}
                                <img src="{{ asset(recommendation.imageUrl) }}" alt="{{ recommendation.fullName }}">
                            {% else %}
                                <img src="{{ asset('assets/images/avatar-1.png') }}" alt="{{ recommendation.fullName }}">
                            {% endif %}
                        </figure>
                        <h4 class="title title--h3">{{ recommendation.fullName }}</h4>
                        <p class="review-item__caption">{{ recommendation.content|u.truncate(100, '...') }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>

    {% for recommendation in recommendations %}
        <!-- Full review {{ recommendation.id }} -->
        <div id="review-{{ recommendation.id }}" class="popup mfp-hide mfp-with-anim">
            <div class="row">
                <div class="col-12 col-sm-2 full-rewiew-con-avatar">
                    <figure class="box box-avatar overflow-hidden">
                        {% if recommendation.imageUrl %}
                            <img src="{{ asset(recommendation.imageUrl) }}" alt="{{ recommendation.fullName }}">
                        {% else %}
                            <img src="{{ asset('assets/images/avatar-1.png') }}" alt="{{ recommendation.fullName }}">
                        {% endif %}
                    </figure>
                    <div class="review-icon-quote"></div>
                </div>
                <div class="col-12 col-sm-10 full-rewiew-con-text">
                    <h2 class="title title--h2 mb-1">{{ recommendation.fullName }}</h2>
                    <h4 class="title title--h4 mb-1">{{ recommendation.currentRole }}</h4>
                    {% if recommendation.recommandedAt %}
                        <span class="review-date">{{ recommendation.recommandedAt|format_date(pattern='MMMM y')|capitalize }}</span>
                    {% endif %}
                    {% if recommendation.roleAtThatTime %}
                        <div class="review-role-past text-secondary"><small><i>{{ recommendation.roleAtThatTime }}</i></small></div>
                    {% endif %}
                    <div class="mt-2">
                        {{ recommendation.content|nl2br }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <!-- Clients -->
    <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
        <h2 class="title title--h2 mb-0">Clients</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-sm btn-secondary js-open-crud-modal" data-url="{{ path('client_edit_all') }}">
                <i class="feathericon-edit"></i> {{ 'global.edit'|trans }}
            </button>
        {% endif %}
    </div>
    <div class="swiper-container js-carousel-clients">
        <div class="swiper-wrapper">
            {% for client in clients %}
                <!-- Item client -->
                <figure class="swiper-slide">
                    <a href="#"><img class="logo-client" src="{{ asset(client.url) }}" alt="{{ client.name }}" /></a>
                </figure>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
