<div id="about" class="tab-pane fade show active _tabcontent _active" role="tabpanel" aria-labelledby="about-tab">
    <!-- About Me -->
    {% include 'about/about_me/about_me.html.twig' %}
    <!-- What -->
    <h2 class="title title--h2 mt-3">What I'm Doing</h2>
    <div class="row">
        <!-- Case Item -->
        <div class="col-12 col-lg-6">
            <div class="case-item box box-inner">
                <img class="case-item__icon" src="{{ asset('assets/icons/icon-design.svg') }}" alt="" />
                <div>
                    <h3 class="title title--h3">Web Design</h3>
                    <p class="case-item__caption">The most modern and high-quality design made at a professional level.</p>
                </div>
            </div>
        </div>

        <!-- Case Item -->
        <div class="col-12 col-lg-6">
            <div class="case-item box box-inner">
                <img class="case-item__icon" src="{{ asset('assets/icons/icon-dev.svg') }}" alt="" />
                <div>
                    <h3 class="title title--h3">Web Development</h3>
                    <p class="case-item__caption">High-quality development of sites at the professional level.</p>
                </div>
            </div>
        </div>

        <!-- Case Item -->
        <div class="col-12 col-lg-6">
            <div class="case-item box box-inner">
                <img class="case-item__icon" src="{{ asset('assets/icons/icon-app.svg') }}" alt="" />
                <div>
                    <h3 class="title title--h3">Mobile Apps</h3>
                    <p class="case-item__caption">Professional development of applications for iOS and Android.</p>
                </div>
            </div>
        </div>

        <!-- Case Item -->
        <div class="col-12 col-lg-6">
            <div class="case-item box box-inner">
                <img class="case-item__icon" src="{{ asset('assets/icons/icon-photo.svg') }}" alt="" />
                <div>
                    <h3 class="title title--h3">Photography</h3>
                    <p class="case-item__caption">I make high-quality photos of any category at a professional level.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonials -->
    <div class="testimonials">
        <h2 class="title title--h2 mt-3">Testimonials</h2>

        <div class="swiper-container js-carousel-review">
            <div class="swiper-wrapper">
                <!-- Item review -->
                <div class="swiper-slide review-item box box-inner js-open-review" data-mfp-src="#review-1" data-effect="mfp-zoom-out">
                    <figure class="box box-avatar">
                        <img src="{{ asset('assets/images/avatar-1.png') }}" alt="Daniel Lewis">
                    </figure>
                    <h4 class="title title--h3">Daniel Lewis</h4>
                    <p class="review-item__caption">Ricardo was hired to create a corporate identity. We were very pleased with the work done...</p>
                </div>

                <!-- Item review -->
                <div class="swiper-slide review-item box box-inner js-open-review" data-mfp-src="#review-2" data-effect="mfp-zoom-out">
                    <figure class="box box-avatar">
                        <img src="{{ asset('assets/images/avatar-2.png') }}" alt="Daniel Lewis">
                    </figure>
                    <h4 class="title title--h3">Jessica Miller</h4>
                    <p class="review-item__caption">Thanks to the skill of Ricardo, we have a design that we can be proud of. We are impressed with...</p>
                </div>

                <!-- Item review -->
                <div class="swiper-slide review-item box box-inner js-open-review" data-mfp-src="#review-3" data-effect="mfp-zoom-out">
                    <figure class="box box-avatar">
                        <img src="{{ asset('assets/images/avatar-3.png') }}" alt="Daniel Lewis">
                    </figure>
                    <h4 class="title title--h3">Emily Evans</h4>
                    <p class="review-item__caption">Ricardo did a miracle with my website. It looks exactly as I imagined it. Now I have a profession...</p>
                </div>

                <!-- Item review -->
                <div class="swiper-slide review-item box box-inner js-open-review" data-mfp-src="#review-4" data-effect="mfp-zoom-out">
                    <figure class="box box-avatar">
                        <img src="{{ asset('assets/images/avatar-4.png') }}" alt="Daniel Lewis">
                    </figure>
                    <h4 class="title title--h3">Henry William</h4>
                    <p class="review-item__caption">Thank you very much for your work on our project. It was a big help for us. Thanks to the...</p>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- Clients -->
    <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
        <h2 class="title title--h2 mb-0">Clients</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-sm btn-secondary js-open-crud-modal" data-url="{{ path('client_edit_all') }}">
                <i class="feathericon-edit"></i> {{ 'global.edit'|trans }}
            </button>
        {% endif %}
    </div>
    <div class="swiper-container js-carousel-clients">
        <div class="swiper-wrapper">
            {% for client in clients %}
                <!-- Item client -->
                <figure class="swiper-slide">
                    <a href="#"><img class="logo-client" src="{{ asset(client.url) }}" alt="{{ client.name }}" /></a>
                </figure>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
