{% extends 'base.html.twig' %}

{% block title %}Rémi Tiertant{% endblock %}

{% block stylesheets %}
    {# Meta & OpenGraph/Twitter dans l'en-tête #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="author" content="ArtTemplate" />
    <meta name="description" content="vCard" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ArtTemplates">
    <meta name="twitter:title" content="vCard">
    <meta name="twitter:description" content="vCard">
    <meta name="twitter:image" content="{{ asset('assets/images/social.jpg') }}">

    <meta property="og:title" content="ArtTemplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost }}{{ app.request.requestUri }}" />
    <meta property="og:image" content="{{ asset('assets/images/social.jpg') }}" />
    <meta property="og:description" content="vCard" />
    <meta property="og:site_name" content="vCard" />

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/images/favicons/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/images/favicons/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/images/favicons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/images/favicons/apple-touch-icon-57x57.png') }}">
    <link rel="shortcut icon" href="{{ asset('assets/images/favicons/favicon.png') }}" type="image/png">

    {# Styles locaux #}
    <link rel="stylesheet" href="{{ asset('assets/styles/vendors/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}"/>

    {# Mapbox CSS (via CDN, requis par le template) #}
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block javascripts %}
    {# Mapbox JS (via CDN, requis par le template) #}
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>

    {# TinyMCE (CDN) + initialisation globale #}
    <script src="https://cdn.tiny.cloud/1/{{ tinymce_api_key }}/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        window.initTinyMCE = function() {
            if (!window.tinymce) { return; }
            try { tinymce.remove(); } catch (e) {}
            tinymce.init({
                selector: 'textarea.tinymce',
                menubar: false,
                branding: false,
                height: 220,
                plugins: 'lists link code autosave',
                toolbar: 'undo redo | blocks | bold italic underline | bullist numlist | link | removeformat | code',
                entity_encoding: 'raw',
                convert_urls: false,
                skin: 'oxide-dark',
                content_css: 'dark'
            });
        };
        document.addEventListener('DOMContentLoaded', function(){
            if (document.querySelector('textarea.tinymce')) {
                window.initTinyMCE();
            }
        });
    </script>

    {# JS locaux #}
    <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins.min.js') }}"></script>
    <script src="{{ asset('assets/js/common.js') }}"></script>
    <script src="{{ asset('assets/js/mapbox.init.js') }}"></script>

    {% include 'partials/js/_crud_modal_scripts.html.twig' %}
{% endblock %}

{% block body %}
<main class="main">
    <div class="container gutter-top gutter-bottom">
        <div class="row sticky-parent">
            <!-- Sidebar -->
            {% include 'partials/_sidebar.html.twig' %}

            <!-- Content -->
            <div class="col-12 col-md-12 col-xl-9">

                {% include 'partials/_crud_modal.html.twig' %}

                <div class="box-outer">
                    <div class="container">
                        {% include 'partials/_flash.html.twig' %}
                    </div>
                    <!-- Menu -->
                    <div class="nav-container js-tabs">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav__item" role="presentation"><a id="about-tab" class="active" href="#about" data-bs-toggle="tab" role="tab" aria-controls="about" aria-selected="true">{{ 'nav.about'|trans }}</a></li>
                            <li class="nav__item" role="presentation"><a id="resume-tab" href="#resume" data-bs-toggle="tab" role="tab" aria-controls="resume" aria-selected="false">{{ 'nav.resume'|trans }}</a></li>
{#                            <li class="nav__item" role="presentation"><a id="portfolio-tab" href="#portfolio" data-bs-toggle="tab" role="tab" aria-controls="portfolio" aria-selected="false">{{ 'nav.portfolio'|trans }}</a></li>#}
{#                            <li class="nav__item" role="presentation"><a id="blog-tab" href="#blog" data-bs-toggle="tab" role="tab" aria-controls="blog" aria-selected="false">{{ 'nav.blog'|trans }}</a></li>#}
                            <li class="nav__item" role="presentation"><a id="contact-tab" href="#contact" data-bs-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">{{ 'nav.contact'|trans }}</a></li>
                        </ul>
                    </div>

                    <div class="content tab-content" id="myTabContent">
                       {% include 'partials/_about.html.twig' %}
                       {%  include 'partials/_resume.html.twig' %}
{#                       {%  include 'partials/_portfolio.html.twig' %}#}
                        {#                       {%  include 'partials/_blog.html.twig' %}#}
                        {%  include 'partials/_contact.html.twig' %}

                    </div><!-- /content -->
                </div><!-- /box-outer -->
            </div><!-- /col -->
        </div><!-- /sticky-parent -->
    </div><!-- /container -->
</main>

<div class="back-to-top"></div>

{% endblock %}
