{% extends 'partials/_form_modal_base.html.twig' %}

{% set form_id = 'education-form' %}

{% block form_body %}
    <div class="form-group col-12 col-md-6">{{ form_row(form.title, {
        'label': ('resume.education.form.title.label')|trans,
        'attr': {'class': 'input form-control'}
    }) }}</div>
    <div class="form-group col-12 col-md-6">{{ form_row(form.school, {
        'label': ('resume.education.form.school.label')|trans,
        'attr': {'class': 'input form-control'}
    }) }}</div>
    <div class="form-group col-12 col-md-6">{{ form_row(form.startDate, {
        'label': ('resume.education.form.start_date.label')|trans,
        'attr': {'class': 'input form-control'}
    }) }}</div>
    <div class="form-group col-12 col-md-6">{{ form_row(form.endDate, {
        'label': ('resume.education.form.end_date.label')|trans,
        'attr': {'class': 'input form-control'}
    }) }}</div>
    <div class="form-group col-12">{{ form_row(form.description, {
        'label': ('resume.education.form.description.label')|trans,
        'attr': {'class': 'textarea form-control tinymce'}
    }) }}</div>
    <div class="form-group col-12 col-md-4">{{ form_row(form.position, {
        'label': ('resume.education.form.position.label')|trans,
        'attr': {'class': 'input form-control'}
    }) }}</div>
{% endblock %}
