{{ form_start(form, { attr: { id: 'education-form' } }) }}

        <h5 class="modal-title title__separate">{{ title|default(('resume.education.modal.title')|trans) }}</h5>



        {{ form_errors(form) }}
        <div class="row g-3">
            <div class="form-group col-12 col-md-6">{{ form_row(form.title, {
                'label': ('resume.education.form.title.label')|trans,
                'attr': {'class': 'input form-control'}
            }) }}</div>
            <div class="form-group col-12 col-md-6">{{ form_row(form.school, {
                'label': ('resume.education.form.school.label')|trans,
                'attr': {'class': 'input form-control'}
            }) }}</div>
            <div class="form-group col-12 col-md-6">{{ form_row(form.startDate, {
                'label': ('resume.education.form.start_date.label')|trans,
                'attr': {'class': 'input form-control'}
            }) }}</div>
            <div class="form-group col-12 col-md-6">{{ form_row(form.endDate, {
                'label': ('resume.education.form.end_date.label')|trans,
                'attr': {'class': 'input form-control'}
            }) }}</div>
            <div class="form-group col-12">{{ form_row(form.description, {
                'label': ('resume.education.form.description.label')|trans,
                'attr': {'class': 'textarea form-control tinymce'}
            }) }}</div>
            <div class="form-group col-12 col-md-4">{{ form_row(form.position, {
                'label': ('resume.education.form.position.label')|trans,
                'attr': {'class': 'input form-control'}
            }) }}</div>
        </div>



        <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'global.cancel'|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ 'global.save'|trans }}</button>

{{ form_end(form, { render_rest: true }) }}
